/*!
 *
 */

body {
    /*
    background: #6e7190;
    color:#23274F;
    margin-top: 51px; */
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    color: white;
}
/*.professorProfileContent {
    background-color: #000000;
    opacity: 0.7;
    border: 4px solid #7c688c;
    border-radius: 6px;
    padding: 5px 5px 5px 15px;
    word-wrap: normal;
    overflow: auto;
    text-overflow: ellipsis;
    min-height: 70px;
    height: auto;
    max-height: 534px;
    min-width: 300;
    width: auto;
    max-width: 300;
    margin: 4px 4px 4px 4px;
}*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/teamworx/img/bg/bg_08.jpg) no-repeat 0 0 fixed;
    background-size: cover;
    /*background-position: center center;*/
    opacity: 1;
    z-index: -9;
    /*transform: scale(1.7, 1.6) translateX(150px) translateY(10px);*/
    transform: scale(1.3, 1.3) translateX(0px) translateY(0px);
    transition: all 2.5s ease-in;
}

.popover-title {
    background-color: #2a4254;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.popover {
    color: black;
    opacity: 1.0;
    font-size: small;
}


.zout {
    transform: scale(1.3, 1.7) translateX(90px) translateY(110px);
    /*transform: scale(1.7, 1.05) translateX(0px) translateY(0px)*/
}

.move {
    transform: scale(1.0, 1.0) translateX(0px) translateY(0px)
}

div .main {
    margin-top: 51px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

div::after {
    content: "";
    position: absolute;
    z-index: -1;
}

a:link {
    font-weight: bold;
}

a:visited {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}

a:active {
    font-weight: bold;
}

.checkedClass {
    font-weight: bold;
    color: blue;
}

.genericPanel {
    min-height: 220px;
    opacity: 0.7;
    background-color: #000000;
    height: auto;
    min-width: 220px;
    width: 20%;
    border: solid 3px black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.loginLogo {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

#studentPanel {
    color:#ffffff;
    height: 89%;
    width: 250px;
    min-width: 250px;
    border: solid 3px black;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    top: 51px;
    left: 0px;
    bottom: 0px;
    background-color: #000000;

    opacity: 0.7;
    position: relative;
    float: left;
}

#groupPanel {
    /*min-height: 92%;*/

    height: 89%;
    width: 750px;
    min-width: 750px;
    border: 3px solid black;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    position: relative;
    right: 0px;
    bottom: 0px;
    top: 51px;
    padding-top: 15px;
    background-color: #000000;


    opacity: 0.7;
    color:#ffffff;
    float: right;
}

/*MY TEAM STUFF*/

#myTeamOverview {
    width: 70%;
    height: auto;
    max-height: 76vh;
    margin-top: 20px;
    overflow: auto;
}

#studentSearchBar {
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px 0px 5px 0px;
    max-width: 100%;
}

#searchBarAddon {
    margin: 0px;
    padding: 0px 5px 0px 5px;
}

#searchBarField {
    width: 100%;
    color: black;
}

#searchSkillsField {
    width: 100%;
    color: black;
}

#searchBiographyField {
    width: 100%;
    color: black;
}

#searchInterestsField {
    width: 100%;
    color: black;
}

#searchProjectPreferenceField {
    width: 100%;
    color: black;
}

#searchGPAField {
    width: 100%;
    color: black;
}

.studentProfileContent {

    overflow-y: scroll;
    overflow-x: hidden;
    height: 73%;
    border: 3px solid black;
    border-radius: 3px;
    padding: 10px 10px 0px 0px;
}

.studentProfile {

    max-width: 120%;
    /*height: 55px;*/
    border-radius: 3px;
}

.imgStudent {
    height: auto;
    max-height: 48px;
    width: auto;
    max-width: 48px;
    border: 1px solid black;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
}

.carouselImgStudent {
    margin:auto;
    height: 300px;
    width: 300px;
}

.studentUploadRoster {
    max-width: inherit;
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.modal {
    display: block;
}

#courseInfoPanel {
    /**
     * TODO Peter
     */
}

#assignmentsPanel {
    /**
     * TODO Peter
     */
}

.larger {
    font-size: xx-large;
}

.mainPanel{
    width: 1050px;
    min-width: 1050px;
    height: 100vh;
    min-height: 500px;

    margin: 0 auto;
}

#groupPanel {
    /*min-height: 92%;*/

    height: 89%;
    width: 750px;
    min-width: 750px;
    border: 3px solid black;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    position: relative;
    right: 0px;
    bottom: 0px;
    top: 51px;
    padding-top: 15px;
    background-color: #000000;

    opacity: 0.7;
    color:#ffffff;
    float: right;
}

.groupPanelHeader {
    min-height: 2%;
    height: auto;
    max-height: 10%;
}

.groupPanelContent {
    min-height: 250px;
    height: 60vh;

    width: auto;
    border: 3px solid black;
    border-radius: 3px;
    overflow: auto;

}

/*.groupPanelContent {*/
    /*float: right;*/
    /*width: 70%;*/
/*}*/


#coursePanel {
    min-height: 92%;
    height: auto;
    max-height: inherit;
    width: 57%;
    border: 3px solid black;
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
    margin-top:8%;
    /*margin: 10px 10px 10px 10px;*/
    /*position: absolute;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    background-color: #000000;
    opacity: 0.7;
    color:#ffffff;
}

.coursePanelHeader {
    font-size: medium;
    margin-left: 6%;
    margin-top: 1%;
    border-radius: 3px;
}

.coursePanelContent {
    min-height: 10%;
    height: auto;
    max-height: 80%;
    width: auto;
    border: 3px solid black;
    border-radius: 3px;
    overflow: auto;
    min-height: 400px;
}

.groupProfile {
    height: 50%;
    max-height: 200px;
    width: 45%;
    background-color: grey;
    opacity: 0.9;
    border-radius: 8px;
    margin: 8px 18px 18px 8px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.groupProfileHeader {
    min-height: 100px;
    height: auto;
    max-height: 135px;
    width: 150px;
    margin: -18px 10px -12px 10px;
    /*border: 3px solid black;*/
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;

}

.groupProfileMembers {
    min-height: 30%;
    height: auto;
    max-height: 30%;
    width: 100%;
    margin: 5px 5px 5px 5px;
    /*border: 3px solid black;*/

}

.groupProfileContent {
    /*min-height: 70px;*/
    height: 100%;
    width: 38%;
    /*max-height: 120px;*/
    margin: 0px 10px -12px 5px;
    text-align: right;
    float: right;
}

.imgGroup {
    border: 1px solid black;
    height: auto;
    max-height: 64px;
    width: auto;
    max-width: 64px;
    margin-right: 2px;
}


.groupProfileHover {
    height: 50%;
    max-height: 200px;
    width: 45%;
    background-color: darkolivegreen;
    opacity: 1.0;
    color: #000000;
    cursor: pointer;
    border-radius: 8px;
    background: url(/teamworx/img/bg/bg_08.jpg) no-repeat 0 0 fixed;
    margin: 8px 18px 18px 8px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.qDiv {
    background-color: brown;
    opacity: 0.7;
    padding: 20px 20px 20px 20px;
    width: 400px;
    min-height: 130px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.qText {
    color: aliceblue;
    font-size: x-large;
    margin: 0 auto;
    font-weight: bold;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}
.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block; !important;
}

.animate-show.ng-hide {
    opacity: 0;
}

/*THIS CODE IS FOR THE PROFESSOR PROFILE PAGE (PORTAL)*/
.professorProfileContent {
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 15px 15px 15px 15px;
    word-wrap: normal;
    overflow: auto;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
    width: 70vw;
    margin-top: 70px;
    margin-bottom: 10px;
    min-height: 580px;
    height: 80vh;
    opacity: 0.7;
    color: #ffffff;
}

.imgProfessor {
    border: 1px solid black;
    height: auto;
    max-height: 250px;
    width: 22.5%;
    max-width: 250px;
    margin-right: 2px;
    margin-top: 15px;
    float:left;
    display:inline;
    border-radius: 50%;
}

.navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #034;
    color: white;
}

.myEditable:hover {
    background: #EEE;
    color: darkblue;
}

.myEditable {
    width: 100%;
    padding: 1px 4px 8px 15px;
}

.professorNameContent{
    float:left;
    display:inline;
    position: relative;
    left: 15px;
    width: 76%;
    height: auto;
    max-height: 250px;
}
/*not used*/
.professorImageContent{
    float:left;
    display:inline;
    position: relative;
}
.professorBioContent{
    border-radius: 10px;
    word-wrap: normal;
    overflow: auto;
    text-overflow: auto;
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    color: #ffffff;
    position: relative;
    left: 0px;
}

.professorInfoContent{
    word-wrap: normal;
    overflow: auto;
    text-overflow: ellipsis;
    width: 33%;
    min-height: 20px;
    max-height: 310px;

    color: #ffffff;
    position: relative;
    float:left;
    margin-right: 2px;

}

.courseListContent {
    word-wrap: normal;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 65%;
    min-height: 70px;
    max-height: 310px;
    margin-left: 15px;
    color: #ffffff;
    float:left;
}

.innerCourseListContent {
    background-color: #1e1e1b;
    border-radius: 3px;
    word-wrap: normal;

    text-overflow: ellipsis;
    width: 100%;
    min-height: 20px;
    height: 65%;
    max-height: 65%;
    margin: 10px 0px 4px 0px;
    padding: 3px 5px 5px 1.5em;
    color: #ffffff;
}

.requesterListContent {
    background-color: #1e1e1b;
    border-radius: 3px;
    word-wrap: normal;

    text-overflow: ellipsis;
    width: 100%;
    min-height: 20px;
    height: 65%;
    max-height: 65%;
    margin: 10px 0px 4px 0px;
    padding: 3px 5px 5px 1.5em;
    color: #ffffff;
}

.MemberListContent {
    background-color: #1e1e1b;
    border-radius: 3px;
    word-wrap: normal;

    text-overflow: ellipsis;
    width: 100%;
    min-height: 20px;
    height: 65%;
    max-height: 65%;
    margin: 10px 0px 4px 0px;
    padding: 3px 5px 5px 1.5em;
    color: #ffffff;
}



.addCourseButton {
    width: 100%;
    float: left;
}

.addMemberButton {
    width: 41vw;
    float: right;
}

.editProfileButton {
    width: 50vw;
    margin: 0px 4px 4px 10px;
    float: left;
}

#bgPageGroupProfile {
    min-height: 92%;
    height: auto;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    background-color: #000000;
    opacity: 0.7;
    top: 51px;
    left: 0;
    right: 0;
    position: absolute;
}

#pageGroupProfileFull {
    min-height: 92%;
    height: auto;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    top: 51px;
    left: 0;
    right: 0;
    position: absolute;
}

#pageGroupProfileHeader {
    min-height: 250px;
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    left: 0;
    right: 0;
    position: relative;
}

#pageGroupProfileHeaderSidebar {
    min-height: 250px;
    height: auto;
    max-height: 300px;
    width: 300px;
    margin: 10px 0 5px;
    padding: 0;
    position: relative;
    float: left;
}

#GroupProfileSidebarImage {
    height: 240px;
    width: 240px;
}

#pageGroupProfileHeaderMain {
    min-height: 210px;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 86%;
    padding: 5px;
    float: left;
    position: relative;
    text-align: left;
}

#pageGroupProfileBody {
    height: auto;
    max-height: 750px;
    width: auto;
    max-width: 99%;
    margin: 0 auto 5px;
    left: 0;
    right: 0;
    position: relative;
}

#pageGroupProfileBodySidebar {
    min-height: 500px;
    height: auto;
    max-height: 750px;
    width: 280px;
    left: 0;
    margin: 15px auto 0;
    float: left;
    position: absolute;
}

#pageGroupProfileBodyMain {
    height: auto;
    max-height: 750px;
    min-width: 64%;
    width: auto;
    max-width: 82%;
    left: 300px;
    margin: 0 5px 0;
    padding: 15px 10px 10px 10px;
    background: #000000;
    float: left;
    position: absolute;
}
.ng-enter, .ng-leave {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*-webkit-transition:all .5s ease-in-out;*/
    /*-moz-transition:all .5s ease-in-out;*/
    /*-o-transition:all .5s ease-in-out;*/
    transition:all .5s ease-in-out;
}

.ng-enter {
    opacity: 0;
    /*-webkit-transform:scale3d(0.5, 0.5, 0.5);*/
    /*-moz-transform:scale3d(0.5, 0.5, 0.5);*/
    /*transform:scale3d(0.5, 0.5, 0.5);*/
}

.ng-enter-active {
    opacity: 1;
    /*-webkit-transform:scale3d(1, 1, 1);*/
    /*-moz-transform:scale3d(1, 1, 1);*/
    /*transform:scale3d(1, 1, 1);*/
}

.ng-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    /*-webkit-transform:translate3d(0, 0, 0);*/
    /*-moz-transform:translate3d(0, 0, 0);*/
    /*transform:translate3d(0, 0, 0);*/
}

.ng-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    /*-webkit-transform: translate3d(100px, 0, 0);*/
    /*-moz-transform: translate3d(100px, 0, 0);*/
    /*transform: translate3d(100px, 0, 0);*/
}