/*!
 *
 */

body {
    /*
    background: #6e7190;
    color:#23274F;
    margin-top: 51px; */
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    color: white;
}
.professorProfileContent {
    background-color: #000000;
    opacity: 0.7;
    border: 4px solid #7c688c;
    border-radius: 6px;
    padding: 5px 5px 5px 15px;
    word-wrap: normal;
    overflow: auto;
    text-overflow: ellipsis;
    min-height: 70px;
    height: auto;
    max-height: 300px;
    margin: 4px 4px 4px 4px;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/teamworx/img/bg/bg_08.jpg) no-repeat 0 0 fixed;
    background-size: cover;
    /*background-position: center center;*/
    opacity: 1;
    z-index: -9;
    /*transform: scale(1.7, 1.6) translateX(150px) translateY(10px);*/
    transform: scale(1.3, 1.3) translateX(0px) translateY(0px);
    transition: all 2.5s ease-in;
}

.zout {
    transform: scale(1.3, 1.7) translateX(90px) translateY(110px);
    /*transform: scale(1.7, 1.05) translateX(0px) translateY(0px)*/
}

.move {
    transform: scale(1.0, 1.0) translateX(0px) translateY(0px)
}

div .main {
    margin-top: 51px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

div::after {
    content: "";
    position: absolute;
    z-index: -1;
}

a:link {
    font-weight: bold;
}

a:visited {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}

a:active {
    font-weight: bold;
}

.checkedClass {
    font-weight: bold;
    color: blue;
}

.genericPanel {
    min-height: 220px;
    opacity: 0.7;
    background-color: #000000;
    height: auto;
    min-width: 220px;
    width: 20%;
    border: solid 3px black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
}

#studentPanel {
    color:#ffffff;
    /*min-height: 92%;*/
    max-height: 85%;
    width: 18%;
    border: solid 3px black;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    top: 51px;
    left: 0px;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.7;
    position: absolute;
}

#studentSearchBar {
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px 0px 5px 0px;
    max-width: 100%;
}

#searchBarAddon {
    margin: 0px;
    padding: 0px 5px 0px 5px;
}

#searchBarField {
    width: 100%;
    color: black;
}

.studentProfileContent {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 76%;
    border: 3px solid black;
    border-radius: 3px;
}

.studentProfile {
    /*background-color: #dddddd;*/
    max-width: inherit;
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.imgStudent {
    height: auto;
    max-height: 48px;
    width: auto;
    max-width: 48px;
    border: 1px solid black;
}

.studentUploadRoster {
    max-width: inherit;
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.modal {
    display: block;
}

#courseInfoPanel {
    /**
     * TODO Peter
     */
}

#assignmentsPanel {
    /**
     * TODO Peter
     */
}

#groupPanel {
    /*min-height: 92%;*/
    max-height: 85%;
    height: auto;
    max-height: inherit;
    width: 77%;
    border: 3px solid black;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 51px;
    background-color: #000000;
    opacity: 0.7;
    color:#ffffff;
}

.groupPanelHeader {
    min-height: 2%;
    height: auto;
    max-height: 10%;
}

.groupPanelContent {
    min-height: 10%;
    height: auto;
    max-height: 80%;
    margin-left: 20px;
    width: auto;
    border: 3px solid black;
    border-radius: 3px;
    overflow: auto;
}

#coursePanel {
    min-height: 92%;
    height: auto;
    max-height: inherit;
    width: 57%;
    border: 3px solid black;
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
    margin-top:8%;
    /*margin: 10px 10px 10px 10px;*/
    /*position: absolute;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    background-color: #000000;
    opacity: 0.7;
    color:#ffffff;
}

.coursePanelHeader {
    font-size: medium;
    margin-left: 6%;
    margin-top: 1%;
    border-radius: 3px;
}

.coursePanelContent {
    min-height: 10%;
    height: auto;
    max-height: 80%;
    width: auto;
    border: 3px solid black;
    border-radius: 3px;
    overflow: auto;
    min-height: 400px;
}

.groupProfile {
    /*background-color: #cccccc;*/
    height: 50%;

    /*height: auto;*/
    /*height: 10px;*/
    width: 30%;
    background-color: slategray;
    opacity: 0.9;
    /*border: 3px solid black;*/
    border-radius: 8px;
    margin: 8px 18px 18px 8px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.groupProfileHover {
    /*background-color: #cccccc;*/
    /*min-height: 175px;*/
    height: 50%;

    /*height: auto;*/
    /*height: 10px;*/
    width: 30%;
    background-color: darkolivegreen;
    opacity: 1.0;
    border: 6px solid #dcdcdc;
    color: #000000;
    cursor: pointer;
    /*border: 3px solid black;*/
    border-radius: 8px;
    background: url(/teamworx/img/bg/bg_08.jpg) no-repeat 0 0 fixed;
    margin: 2px 18px 18px 2px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.animate-show {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.2s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block; !important;
}

.animate-show.ng-hide {
    opacity: 0;
}

.groupProfileHeader {
    min-height: 48px;
    height: auto;
    max-height: 80px;
    width: 96%;
    margin: -9px 0px -12px 3px;
    /*border: 3px solid black;*/
    border-radius: 3px;
    display: flex;
}

.groupProfileContent {
    /*min-height: 70px;*/
    height: 110px;
    /*max-height: 120px;*/
    margin: 4px 4px 4px 4px;
}

.imgGroup {
    border: 1px solid black;
    height: auto;
    max-height: 64px;
    width: auto;
    max-width: 64px;
    margin-right: 2px;
}

/*THIS CODE IS FOR THE PROFESSOR PROFILE PAGE (PORTAL)*/
.professorProfile {
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    padding: 5px 5px 5px 5px;
    float: left;
    width: 50%;
    min-height: 164px;
    height: auto;
    max-height: 214px;
    color: #ffffff;
}

.professorProfileHeader {
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    color: #ffffff;
}

.professorProfileContent {
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 5px 5px 15px;
    word-wrap: normal;
    /*overflow: auto;*/
    text-overflow: ellipsis;
    width: 55vw;
    min-height: 350px;
    /*height: 900px;*/
    margin: 0px 4px 4px 4px;
    float: left;
    opacity: 0.7;
    color: #ffffff;
}

.courseListContent {
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    word-wrap: normal;
    overflow: auto;
    text-overflow: ellipsis;
    width: 43vw;
    min-height: 70px;
    height: 80vh;
    margin: 70px 4px 4px 4px;
    opacity: 0.7;
    padding: 1.0em 5px 5px 1.5em;
    color: #ffffff;
}

.addCourseButton {
    width: 44vw;
    float: right;
}

.editProfileButton {
    width: 50vw;
    margin: 0px 4px 4px 10px;
    float: left;
}

.imgProfessor {
    border: 1px solid black;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
    margin-right: 2px;
}

#bgPageGroupProfile {
    min-height: 92%;
    height: auto;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    background-color: #000000;
    opacity: 0.7;
    top: 51px;
    left: 0;
    right: 0;
    position: absolute;
}

#pageGroupProfileFull {
    min-height: 92%;
    height: auto;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    top: 51px;
    left: 0;
    right: 0;
    position: absolute;
}

#pageGroupProfileHeader {
    min-height: 250px;
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    left: 0;
    right: 0;
    position: relative;
}

#pageGroupProfileHeaderSidebar {
    min-height: 250px;
    height: auto;
    max-height: 300px;
    width: 300px;
    margin: 10px 0 5px;
    padding: 0;
    position: relative;
    float: left;
}

#GroupProfileSidebarImage {
    height: 240px;
    width: 240px;
}

#pageGroupProfileHeaderMain {
    min-height: 210px;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 86%;
    padding: 5px;
    float: left;
    position: relative;
    text-align: left;
}

#pageGroupProfileBody {
    height: auto;
    max-height: 750px;
    width: auto;
    max-width: 99%;
    margin: 0 auto 5px;
    left: 0;
    right: 0;
    position: relative;
}

#pageGroupProfileBodySidebar {
    min-height: 500px;
    height: auto;
    max-height: 750px;
    width: 280px;
    left: 0;
    margin: 15px auto 0;
    float: left;
    position: absolute;
}

#pageGroupProfileBodyMain {
    height: auto;
    max-height: 750px;
    min-width: 64%;
    width: auto;
    max-width: 82%;
    left: 300px;
    margin: 0 5px 0;
    padding: 15px 10px 10px 10px;
    background: #000000;
    float: left;
    position: relative;
}
