<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/angular/angular-cookies.min.js"></script>

    <!--<script src="js/app.js"></script>-->
    <!--<script src="js/controllers.js"></script>-->


</head>
<body>
<div>
    <form>
        <div class="modal-body">
        <input type="text" id="assignment_text" ng-model="myForm.assignment_text" ng-minlength="0" ng-maxlength="20"> Question Text <br/>
        </div>

        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="submitTheForm(myForm)">Add</button>
        </div>

        <div class="modal-body">
            <li ng-repeat="x in questions">
                <a href="#questions/{{my_pk}}">Question {{x.question_number}}: {{x.question_text}}</a>
            </li>
            <p>Will add the list of questions here</p>
        </div>
    </form>

</div>

</body>
</html>