<div class="modal-header">
    <h3>Create a New Assignment</h3>
</div>
<div>
    <form>
        <div class="modal-body">
            <input type="text" disabled id="assignment_number" ng-model="myForm.assignment_number" ng-minlength="0" ng-maxlength="20" readonly>
            Assignment Number <br/>
            <input type="text" id="assignment_title" ng-model="myForm.assignment_title" ng-minlength="0" ng-maxlength="20"> Assignment Title<br/>
            <input type="text" id="assignment_text" ng-model="myForm.assignment_text" ng-minlength="0" ng-maxlength="20"> Assignment Text <br/>
        </div>

        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="submit()">Go</button>
        </div>
    </form>
</div>