<div class="modal-header">
    <label class="label-success" style="width: 100%; height: 100%; color: white">
        <h3><p class="text-center">Adding a New Course</p></h3></label>
</div>
<form>
    <div class="modal-body">
        <label>
        Course Department
        </label>
        <input class="form-control" type="text" id="course_dept"
               ng-model="myForm.course_dept" ng-minlength="0" ng-maxlength="20" placeholder="AE, CS, ECE, etc...">
        <label>
            Course Number
        </label>
        <input class="form-control" type="text" id="course_id" ng-model="myForm.course_id"
               ng-minlength="0" ng-maxlength="20" placeholder="1332">
        <label>
            Course Name
        </label>

        <input class="form-control" type="text" id="course_name" ng-model="myForm.course_name"
               placeholder="Data Structures and Algorithms" ng-minlength="0" ng-maxlength="20">
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-warning" type="submit" ng-click="submitTheForm(myForm)">Add</button>
    </div>
</form>
