<div class="modal-header">
    <label class="label-success" style="width: 100%; height: 100%; color: white">
        <h3><p class="text-center">Creating a New Team</p></h3></label>
</div>
<form>
    <div class="modal-body">
        <input type="text" id="team_name" ng-model="myForm.team_name" ng-minlength="0" ng-maxlength="50">
            Team Name <br/>
        <input type="text" id="team_description" ng-model="myForm.team_description" ng-minlength="0">
            Team Description <br/>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-warning" ng-click="submitTheForm(myForm)">Add</button>
    </div>
</form>