<toaster-container toaster-options="{'time-out': 1300, 'position-class': 'toast-bottom-center'}"></toaster-container>
<div class="container-fluid">
    <div align="left" class="container-fluid">
        <h3>
            Description:
                            <span e-form="descriptionBtnForm"
                                  style="cursor:pointer; color:darkslateblue; padding-right: 0.3em"
                                  onbeforesave="updateProfile('description', $data, user.user_type, user.email)"
                                  editable-text="team.description">
                            {{team.description || "Not set" }}
                            </span>
            <a ng-click="descriptionBtnForm.$show()" ng-hide="descriptionBtnForm.$visible" style="cursor: pointer">
                <span ng-if="isOwner" class="animate-show glyphicon glyphicon-pencil"></span>
            </a>

            </h2>
        </h3>

        <h3>
            Seeking Skills:
                            <span e-form="seekSkillBtnForm"
                                  style="cursor:pointer; color:darkslateblue; padding-right: 0.3em"
                                  onbeforesave="updateProfile('description', $data, user.user_type, user.email)"
                                  editable-text="team.description">
                            {{ team.seeking_skills || "Not set" }}
                            </span>
            <a ng-click="seekSkillBtnForm.$show()" ng-hide="seekSkillBtnForm.$visible" style="cursor: pointer">
                <span ng-if="isOwner" class="animate-show glyphicon glyphicon-pencil"></span>
            </a>
        </h3>

        <h3> Project Preference:
            <h4>
                <li ng-repeat="project_pref in projects">
                {{project_pref.description}}
                </li>
            </h4>
        </h3>

        <p>

        <h3>Looking for more members <span ng-class="{'myEnabled': team.lfm, 'myDisabled': !team.lfm}">{{team.lfm | formatLFM}}</span>
            : </h3>
        <button type="button" class="btn btn-primary btn-small" style="position:relative;left: auto"
                ng-click="enableLFM()"> Enable
        </button>
        <button type="button" class="btn btn-warning btn-small" style="position:relative; left: auto"
                ng-click="disableLFM()"> Disable
        </button>
        </p>
           
        <h3>Members</h3>
        <ul style="list-style-type: none; margin: 0px; padding: 0px;" ng-mouseover="hoverIn()"
            ng-mouseleave="hoverOut()">
            <div class="studentProfile">
                <a class="container-fluid" ui-sref="main.studentProfile"
                   ng-repeat="member in team.members" ng-click="selectMember(member)" data-drag="true"
                   jqyoui-draggable="{animate: true, placeholder: 'keep', onStart:'removeMember(member)'}"
                   data-jqyoui-options="{revert: 'invalid', helper: 'clone'}">
                    <img src="img/no_profile.png" class="imgStudent"/>
                    {{member.name}} </br> </a>
            </div>
        </ul>
        <button ng-if="true" class="btn btn-warning btn-lg" data-drop="true"
                jqyoui-droppable="{beforeDrop: 'denyRequester()'}">
            <span class="glyphicon glyphicon-trash"></span> Delete Member
        </button>
    </div>
</div>
