<div>
    <h2>Survey</h2>

    <form>
        <div class="qDiv" ng-repeat="question in questions">
            <div class="qText">
                <center>{{question.text | capitalize}}
            </div>
            <br>

            <div style="max-width: 353px; margin-left: auto; margin-right: auto">
                <div class="row">
                    <div class="col-md-2">
                        <h4>{{question.lo | capitalize }}</h4>
                    </div>
                    <div class="col-md-6" style="color: palegoldenrod">
                        <rating ng-model="question.answer"
                                max="num_stars"
                                state-on="'glyphicon glyphicon-star larger'"
                                on-hover="hoveringOver(value)"
                                on-leave="overStar = null"
                                state-off="'glyphicon glyphicon-star-empty larger'">
                        </rating>
                    </div>
                    <div class="col-md-2">
                        <h4>{{question.hi | capitalize}}</h4>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <button ng-click="submit(questions)" class="btn btn-success btn-lg center-block">Submit</button>
    </form>
</div>
