<div>
    <h2 style="text-align: center; margin-top: -15px">Survey</h2>

    <div style="max-height: 70vh; max-width: 80%; overflow: auto; margin-right: auto; margin-left: auto">
    <form>
        <div class="qDiv" ng-repeat="question in questions">
            <div class="qText" style="color: #87CEFA">
                {{question.text | capitalize}}
            </div>

            <div style="max-width: 353px; margin-left: auto; margin-right: auto">
                <div class="row">
                    <div class="col-md-2">
                        <p>{{question.lo | capitalize }}</p>
                    </div>
                    <div class="col-md-6" style="color: yellow; margin-left: 30px">
                        <rating ng-model="question.answer"
                                max="num_stars"
                                state-on="'glyphicon glyphicon-star larger'"
                                on-hover="hoveringOver(value)"
                                on-leave="overStar = null"
                                state-off="'glyphicon glyphicon-star-empty larger'">
                        </rating>
                    </div>
                    <div class="col-md-2">
                        <p>{{question.hi | capitalize}}</p>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <button ng-click="submit(questions, projects)" class="btn btn-success btn-lg center-block">Submit</button>
    </form>
    </div>
</div>
