<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/angular/angular-cookies.min.js"></script>

    <!--<script src="js/app.js"></script>-->
    <!--<script src="js/controllers.js"></script>-->


</head>
<body>

<li ng-repeat="x in assignments">
    <a href="#assignment/{{my_pk}}">Assignment {{x.assignment_number}}: {{x.assignment_title}}</a>
</li>


<p>Click <a href="#add_question">here</a> Create a question to assign team</p>'

<button ng-click="submitTheForm(myForm)">Assign Team</button>

</body>
</html>