<div class="groupPanelHeader">
    <!--<h3 ng-show="assignments.length > 0" style="position:relative; top:auto;">Groups [Assignment {{assignments[which_assignment].assignment_number}}]</h3>-->
    <h3 ng-show="assignments.length > 0" ui-sref="main" style="position:relative; top:auto;">Groups
        [Assignment
        {{which_assignment}}
        <input type="image" src="img/gnome-searchtool.png" ui-sref="main.view_assignment_text">
        ]
    </h3>

    <!--<button ->
            <!--popover-placement="right" popover="{{assignment.assignment_text}}">-->
    <!--</button>-->
    <h3 ng-hide="assignments.length > 0" style="position:relative; top:auto;">No Assignment selected.</h3>

    <button ng-show="isUploaded  && assignments.length > 0 && isProfessor"
            ng-click="randomAssign()" ng-if="isProfessor" class="btn btn-primary btn-small"
            style="position:relative; top:auto;">
        Auto Group
    </button>

    <button type="button" ng-if="!haveGroup" class="btn btn-primary" data-toggle="modal"
            data-target="#myModal"
            ui-sref="main.add_group">
        <span class="glyphicon glyphicon-plus"></span> Team
    </button>

    <button ng-if="isProfessor" class="btn btn-warning" data-drop="isProfessor"
            jqyoui-droppable="{beforeDrop: 'deleteDragTeamOrMember()'}"
            jqyoui-droppable="{beforeDrop: 'deleteDragTeamOrMember()'}">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </button>

    <p ng-if="isStudent" style="position:absolute; top:100px; right: 145px;">LFG
    <button type="button" class="btn btn-primary btn-small" style="position:relative; left:auto"
            ng-click="enableLFG()"> Enable</button>
    <button type="button" class="btn btn-warning btn-small" style="position:relative; left :auto"
            ng-click="disableLFG()"> Disable</button>
    </p>

</div>
<br>

<div class="groupPanelContent">

    <ul style="list-style-type:none; padding:5px 5px 5px 5px">
        <li>
            <div class="groupProfile" ng-hide="assignments.length > 0">
                <!-- Button trigger modal -->
                <p>
                    There are no assignments for this course. <br><br>
                    You must create at least 1 assignment to assign teams.
                </p>
            </div>
        </li>
        <li ng-show="assignments.length > 0">
            <div class="groupProfile" data-drop="isProfessor" ng-repeat="team in teams"
                 ng-class="divClass(team)"
                 ng-mouseleave="hoverOut(team)" jqyoui-droppable="{beforeDrop: 'beforeDrop(team)'}"
                 ng-mouseenter="hoverIn(team)"
                 ng-click="selectTeam(team)" ui-sref="main.groupProfile">

                <div class="groupProfileHeader" ng-click="selectTeam(team)" ui-sref="main.groupProfile">
                    <h3 data-drag="isProfessor"
                        jqyoui-draggable="{animate: true, placeholder: 'keep', onStart: 'startDragTeam(team)'}"
                        jqyoui-draggable="{animate: true, placeholder: 'keep', onStart: 'startDragTeam(team)'}"
                        data-jqyoui-options="{revert: 'invalid', helper: 'clone'}">
                            <span ng-hide="'Team ' + team.number == team.name">
                            Team {{team.number}}: </span>
                        {{team.name || 'Unnamed Team'}}
                    </h3>
                </div>

                <div class="groupProfileContent">
                                <span style="font-style: italic; font-size: large; text-decoration: underline"
                                      ng-click="selectTeam(team)" ui-sref="main.groupProfile">Members</span>

                    <div ng-repeat="member in team.members">
                                    <span custom-popover
                                          popover-html="
                                          <b>E-mail</b>:
                                          {{member.email}}<br>
                                          <b>Major: </b>: {{member.dept || 'Not specified'}}<br>
                                          <b>Year: </b>: {{member.year || 'Not specified'}}<br>
                                          <b>Skills</b>: {{member.skills_str || 'Not specified'}}"
                                          popover-title="{{member.name}}"
                                          popover-placement="right"
                                          popover-label="label">
                                    <a style="color: white" data-drag="isProfessor"
                                       jqyoui-draggable="{animate: true, placeholder: 'keep', onStart:'startDragMemberInTeam(member, team)'}"
                                       data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                                       ng-click="selectMember(member)" ui-sref="main.studentProfile">
                                        <img src="img/no_profile.png" class="imgStudent" style="float: left; margin-right: 10px; margin-top: 10px">
                                    </a> </br> </br></br> </br>
                                    </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>