<div class="modal-header">
    <h3>Adding a New Course</h3>
</div>
<form>
    <div class="modal-body">
        <input type="text" id="course_dept" ng-model="myForm.course_dept" ng-minlength="0" ng-maxlength="20"> Course Department <br/>
        <input type="text" id="course_id" ng-model="myForm.course_id" ng-minlength="0" ng-maxlength="20"> Course ID <br/>
        <input type="text" id="course_name" ng-model="myForm.course_name" ng-minlength="0" ng-maxlength="20"> Course Name <br/>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-warning" ng-click="submitTheForm(myForm)">Add</button>
    </div>
</form>
