<div class="modal-header">
    <h3>Deleting a Member </h3>
</div>
<form>
    <div class="modal-body">
        <label>
            Email
        </label>
        <input class="form-control" type="text" id="member_email"
               ng-model="myForm.member_email" ng-minlength="0" ng-maxlength="20" placeholder="">

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-warning" type="submit" ng-click="submitTheForm(myForm)"> Delete </button>
    </div>
</form>
