<!--<toaster-container toaster-options="{'time-out': 1300, 'position-class': 'toast-bottom-center'}"></toaster-container>-->
<div class="container-fluid" id="pageGroupProfileFull">
    <div class="container-fluid" id="pageGroupProfileHeader">
        <div class="container-fluid" id="pageGroupProfileHeaderSidebar">
            <img src="img/no_group.jpg" id="GroupProfileSidebarImage">
        </div>
        <div class="container-fluid" id="pageGroupProfileHeaderMain">
            <h1>{{team.team_name || team.number | formatTeam}}</h1>
            <img ng-if="team.lfm" src="img/flag.png" height="25" width="25"/>
            <span ng-if="team.lfm">Looking for more teammates</span>

            <h4>Class: {{course.course_dept_and_id}}</h4>

            <h4>Assignment: {{assignment.assignment_number}}</h4>
        </div>
    </div>

    <div class="container-fluid" id="pageGroupProfileBody">
        <button  ng-if="!isMember && !isRequest && !isProfessor"
             class="btn btn-lg btn-info"  ng-click ="sendJoinRequest()"
             style="margin: 0 auto;">Send Join Request</button>

        <div align="left" class="container-fluid" id="pageGroupProfileBodyMain">
            <h2 style=" text-align:left;">
                Description: {{team.description || "Not set"}}
            </h2>
            <h2>
                Seeking Skills: {{team.skills_needed || "Not set"}}
            </h2>


            <h2> Project Preference:
                <h3>
                    <li ng-repeat="project_pref in team.project_pref">
                        {{project_pref}}
                    </li>
                </h3>
            </h2>

            <!--<li>-->
                <!--<button class="btn btn-sm" ng-if="isMember"-->
                    <!--ui-sref="main.add_preference"><b>+ Add Project Preference</b></button>-->
            <!--</li>-->


            <h2>Members</h2>
            <div class="MemberListContent">
                <ul style="list-style-type: none; margin: 0px; padding: 0px;"ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                    <div class="studentProfile">
                        <a class="container-fluid" ui-sref ="main.studentProfile"
                           ng-repeat="member in team.members" ng-click ="selectMember(member)">
                            <img src="img/no_profile.png" class="imgStudent">
                            {{member.name}} </a>
                    </div>
                </ul>
            </div>
            <div style="position:relative;">
                <carousel interval="myInterval">
                    <slide ng-repeat="member in team.members" active="member.active">
                        <img src="img/no_group.jpg" class="carouselImgStudent"/>
                        <div class="carousel-caption">
                            <p>{{member.name}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>