<section class="credentials">
    <div>
        <form class="genericPanel" ng-submit="login(formData)">
            <h1>Login</h1>
            <label>E-mail:</label>
            <input ng-model="formData.the_email" ng-focus="clearData('the_email')"><br>

            <label>Password</label>
            <input type="password" ng-focus="clearData('password')" ng-model="formData.password">
            <br>
            <br>
            <label>Type:</label>
            <input type="radio" ng-model="formData.user_type" name="userType" value="STUDENT">Student
            <input type="radio" ng-model="formData.user_type" name="userType" value="INSTRUCTOR"
                   formData="formData.bool">Instructor
            <br>

            <input type="submit"/>
            <br>
            <br>

            <p>No account? Register <a href="#/register">here</a>.
        </form>

        </p>
    </div>
</section>