<!-- Navbar Begin -->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-hide="isActive('/login')" ng-controller="NavigationController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">TeamWorx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{the_user}}'s Profile
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{course.course_name}}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <!--<li>-->
                        <!--<a style="cursor:pointer" ng-click="import()">-->
                        <!--+ Import CSV-->
                        <!--</a>-->
                        <!--</li>-->
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Assignments<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="x in assignments">
                            <a style="cursor:pointer"
                               ng-click="selectAssignment(x.assignment_number)">
                                <p ng-class="{'checkedClass': is_current_assignment(x.assignment_number)}">Assignment
                                    {{x.assignment_number}}: {{x.assignment_title}}</p>
                            </a>
                        </li>
                        <li><a href="#add_assignment/{{my_pk}}"><b>+ New Assignment</b></a></li>
                    </ul>
                </li>

                <li class="dropdown" id="settingsMenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Delete a Course</a></li>
                        <li><a href="">Change Password</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                <li class=""><a href="#portal">Back</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->

<toaster-container toaster-options="{'time-out': 1300, 'position-class': 'toast-bottom-center'}"></toaster-container>

<!-- If we're using the integrated Upload Roster Button (LN: 95-96)
<div class="container-fluid" id="studentPanel" ng-controller="NavigationController"> -->

<div class="container-fluid" id="studentPanel">
    <div class="container-fluid" id="studentClassRosterTitle">
        <h3 style="text-align:center;">Student Roster</h3>
    </div>
    <div class="input-group" id="studentSearchBar">
        <span class="input-group-addon" id="searchBarAddon">Search:</span>
        <input ng-model="search.name" id="searchBarField">
    </div>
    <div>
    </div>
    <div class="studentProfileContent">
        <div>
            <span ng-show="!students.length">
                No students yet.
                <br>
                <br>

                Import a CSV file to populate your course.
                <br>
                <br>
        <!--import roster button-->
        <button type="button" class="btn btn-primary" ng-click="import()">
            + Import CSV
        </button>
            </span>
            <!--<a ng-click="import()">Import students button</a>-->
            <ul style="list-style-type:none;">
                <li ng-repeat="student in students">
                    <div class="studentProfile">
                        <img src="img/no_profile.png" class="imgStudent" ng-if="!hasProfile(student)"/>
                        <!--<img src="img/no_profile.png" class="imgStudent">-->
                        <a href="#student_profile/{{student.pk}}" class="student-main">{{student.name}}</a>
                        {{student.email}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- An integrated upload button
    <button type="button" class="btn button-primary btn-lg" ng-click=foo()>Upload a Student Roster</button> -->
</div>

<div class="container-fluid" id="courseInfoPanel">
    <!--//TODO Peter: Course Information Panel-->
</div>

<div class="container-fluid" id="assignmentsPanel">
    <!--//TODO Peter: Assignments Panel-->
</div>

<div class="container-fluid" id="groupPanel">
    <div class="groupPanelHeader">
        <h3 ng-show="assignments.length > 0" style="position:relative; top:auto;">Groups [Assignment {{assignments[which_assignment].assignment_number}}]</h3>
        <h3 ng-hide="assignments.length > 0" style="position:relative; top:auto;">No Assignment selected.</h3>
        <button ng-show="assignments.length > 0" class="btn-primary" style="position:relative; top:auto;">Randomly Assign Groups</button>
    </div>
    <hr>
    <div class="groupPanelContent">

        <ul style="list-style-type:none; padding:5px 5px 5px 5px">
            <li>
                <div class="groupProfile" ng-hide="assignments.length > 0">
                    <!-- Button trigger modal -->
                    <p>
                        There are no assignments for this course. <br><br>
                        You must create at least 1 assignment to assign teams.
                    </p>
                </div>
            </li>
            <li ng-show="assignments.length > 0">
                <div class="groupProfile">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
                            ng-click="addGroup()">
                        Create New Team
                    </button>
                </div>

                <!-- Currently not implemented -->
                <div class="groupProfile" ng-repeat="team in teams">
                    <div class="groupProfileHeader">
                        <h3>{{team.team_name}}</h3>
                    </div>
                    <div class="groupProfileContent">
                        <p>
                            {{team.team_description}}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--<script type="text/ng-template" id="myModalContent.html">-->
<!--<div class="modal-header">-->
<!--<h3>I'm a modal!</h3>-->
<!--</div>-->
<!--<form ng-submit="submit()">-->
<!--<div class="modal-body">-->
<!--<label>User name</label>-->
<!--<input type="text" ng-model="user.user" />-->
<!--<label>Password</label>-->
<!--<input type="password" ng-model="user.password" />-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
<!--<input type="submit" class="btn primary-btn" value="Submit" />-->
<!--</div>-->
<!--</form>-->
<!--</script>-->

