<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="left:0px; position: absolute;">
        <div class="navbar-header">
            <a class="navbar-brand"><img id="logo" src="img/team_logo.png"></a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">TeamWorx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#/portal" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <img src="img/no_profile.png" width="28px" height="24px"/>
                        <span style="padding-left: 0.3em">Profile</span>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Course: {{course.course_name}}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="isStudent">
                            <a ui-sref="main.view_notification"> Notification </a>
                        </li>
                        <li ng-if="isProfessor">
                            <a ui-sref="main.question"> View Questions </a>
                        </li>
                        <li ng-if="isStudent">
                            <a ui-sref="main.answer_question"> Answer Questions to Unlock Matches</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Assignments<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="x in assignments">
                            <a style="cursor:pointer"
                               ng-click="selectAssignment(x.assignment_number, x.pk, x)">
                                <p ng-class="{'checkedClass': is_current_assignment(x.assignment_number)}">Assignment
                                    {{x.assignment_number}}: {{x.assignment_title}}</p>
                            </a>
                        </li>
                        <li>
                            <button class="btn btn-sm" ng-if="isProfessor"
                                    ui-sref="main.add_assignment"><b>+ New Assignment</b></button>
                        </li>

                    </ul>
                </li>

                <li class="dropdown" id="settingsMenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings
                        <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Change Password</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->

<!-- If we're using the integrated Upload Roster Button (LN: 95-96)
<div class="container-fluid" id="studentPanel" ng-controller="NavigationController"> -->

<div class="container-fluid" id="studentPanel">
    <div class="container-fluid" id="studentClassRosterTitle">
        <h3 style="text-align:center;">Student Roster</h3>
    </div>
    <div class="input-group" id="studentSearchBar">
        <span class="input-group-addon" id="searchBarAddon">Search:</span>
        <input ng-model="search.name" id="searchBarField">
    </div>
    <div>
        <button class="btn btn-primary btn-lg" ng-click="isCollapsed = !isCollapsed">Advanced</button>
    </div>
    <div collapse="isCollapsed">
        Skills
        <input ng-model="search.skills_str" id="searchSkillsField">
        Biography
        <input ng-model="search.bio" id="searchBiographyField">
        Interest
        <input ng-model="search.interests_str" id="searchInterestsField">
        Project Preference
        <input ng-model="search.project_pref_str" id="searchProjectPreferenceField">
        LFG
        <input type="checkbox" ng-model="search.lfg">
    </div>
    <div>
    </div>
    <div class="studentProfileContent">
        <div>
            <span ng-show="!students.length">
                No students yet.
                <br>
                <br>

                Import a CSV file to populate your course.
                <br>
                <br>
        <!--import roster button-->
        <button type="button" class="btn btn-primary" ui-sref="main.import_roster">
            + Import CSV
        </button>
            </span>
            <!--ng-if ="student.lfg[assignment.pk] == search.lfg"-->
            <ul style="list-style-type:none;">
                <li data-drag="isProfessor" ng-repeat="student in students | filter: search"
                    jqyoui-draggable="{animate: true, placeholder: 'keep', onStart:'startCallback(student)'}"
                    data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                    class="container-fluid" ng-click="selectStudent(student)" ui-sref="main.studentProfile">
                    <div class="studentProfile">
                        <img src="img/no_profile.png" class="imgStudent" ng-if="!hasProfile(student)">
                        <br>
                        <a class="student-main">
                            {{student.name}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- An integrated upload button
    <button type="button" class="btn button-primary btn-lg" ng-click=foo()>Upload a Student Roster</button> -->
</div>

<!--<div class="container-fluid" id="courseInfoPanel">-->
    <!--&lt;!&ndash;//TODO Peter: Course Information Panel&ndash;&gt;-->
<!--</div>-->

<!--<div class="container-fluid" id="assignmentsPanel">-->
    <!--&lt;!&ndash;//TODO Peter: Assignments Panel&ndash;&gt;-->
<!--</div>-->

<div class="container-fluid" id="groupPanel">
    <tabset class="tabs-">
        <tab heading="Course Overview" ui-sref="main.course_overview">
        </tab>
        <tab heading="My Team" ng-if="isStudent && haveGroup" select="tabSelect('TEAM')" ui-sref="main.team_overview">
            <tabset class="tabs-right">
                <tab heading="Team Overview" ui-sref="main.team_overview">
                </tab>
                <tab heading="Administration" select="tabSelect('TEAM.ADMIN')" ui-sref="main.admin">
                </tab>
                <tab heading="Pending Requests (2)" ui-sref="main.pending_request">
                </tab>
            </tabset>
        </tab>
    </tabset>
    <div ui-view></div>
</div>