<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="left:0px; position: absolute;">
        <div class="navbar-header leftAlign">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">TeamWorx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{user.name}}'s Profile
                    </a>
                </li>

                <li class="dropdown" id="settingsMenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Change Password</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->

<div style="padding: 0.0em;">

    <!--Professor Profile-->
    <div class="professorProfileContent">
        <img src="img/no_profile.png" class="imgProfessor"/>&nbsp;&nbsp;
        <div class="professorNameContent">
        <h1>
        <span e-form="nameBtnForm" style="color:#ea9256; padding-right: 0.3em"
              onbeforesave="updateProfile('name', $data, user.user_type, user.email)" editable-text="user.name">
            <b>{{ user.name || "empty" }}</b>
        </span>
            <a ng-click="nameBtnForm.$show()" ng-hide="nameBtnForm.$visible" style="cursor: pointer">
                <!--Edit-->
                <img src="img/edit.png"/>
            </a>
        </h1>
            <div class="professorBioContent">
                <b>Bio:</b>
            <span e-form="bioBtnForm" style="color:#ea9256; padding-right: 0.3em; font-weight: bold"
                  onbeforesave="updateProfile('bio', $data, user.user_type, user.email)" editable-text="user.bio">
                {{ user.bio || "You currently do not have a bio." }}
            </span>
                <a ng-click="bioBtnForm.$show()" ng-hide="bioBtnForm.$visible" style="cursor: pointer">
                    <img src="img/edit.png"/>
                </a>
            </div>

        </div>

        <div class="professorInfoContent" ng-if="isProfessor">
            <p>
                <b>Linkedin:</b>
            <span e-form="linkedinBtnForm" style="color:darkslateblue; padding-right: 0.3em; word-wrap: break-word"
                  onbeforesave="updateProfile('linkedin', $data, user.user_type, user.email)" editable-text="user.linkedin">
                <a href="{{user.linkedin}}">{{ user.linkedin || "" }}</a>
            </span>
                <a ng-click="linkedinBtnForm.$show()" style="cursor: pointer"
                   ng-hide="linkedinBtnForm.$visible">
                    <img src="img/edit.png"/>
                </a>
            </p>

            <p>
                <b>Github:</b>
            <span e-form="githubBtnForm" style="color:darkslateblue; padding-right: 0.3em"
                  onbeforesave="updateProfile('github', $data, user.user_type, user.email)" editable-text="user.github">
                <a href="{{user.github}}">{{ user.github || "" }}</a>
            </span>
                <a ng-click="githubBtnForm.$show()" ng-hide="githubBtnForm.$visible" style="cursor:pointer;">
                    <img src="img/edit.png"/>
                </a>
            </p>

            <p>
                <b>Skills:</b>
            <span e-form="skillsBtnForm" style="color:darkslateblue; padding-right: 0.3em"
                  onbeforesave="updateProfile('skills_str', $data, user.user_type, user.email)"
                  editable-text="user.skills_str">
            {{ user.skills_str || "" }}
            </span>
                <a ng-click="skillsBtnForm.$show()" ng-hide="skillsBtnForm.$visible" style="cursor:pointer;">
                    <img src="img/edit.png"/>
                </a>
            </p>

            <p>
                <b>Contact:</b> &nbsp;&nbsp;<a href="mailto:{{user.email}}">{{user.email}}</a>
            </p>

        </div>

        <div class="professorInfoContent" ng-if="isProfessor">
            <p>
                <b>Contact:</b> &nbsp;&nbsp;<a href="mailto:{{user.email}}">{{user.email}}</a>
            </p>
        </div>

        <div class="courseListContent">
            <h2 style="margin-top: -5px">My Courses:</h2>
            <div class="innerCourseListContent">
                <li ng-repeat="course in course_list" style="list-style-type: none" data-drag="isProfessor"
                    jqyoui-draggable="{animate: true, placeholder: 'keep', onStart:'startDragCourse(course)'}"
                    data-jqyoui-options="{revert: 'invalid', helper: 'clone'}">
                    <h3><a style="cursor:pointer" ng-click="selectCourse(course)">{{ course.course_dept_and_id}}: {{
                        course.course_name}}</a></h3>
                    <h4>Instructor: {{ course.prof }}</h4>
                </li>
            </div>
            <p class="addCourseButton" style="float: left; margin-top: 5px">
                <button type="button" ng-if="isProfessor" class="btn btn-primary btn-lg" ui-sref="portal.create_class">
                    Add New Course
                </button>

                <button ng-if ="isProfessor" class="btn btn-warning btn-lg" data-drop="isProfessor" jqyoui-droppable="{beforeDrop: 'deleteCourse()'}">
                    <span class="glyphicon glyphicon-trash"></span> Delete Course
                </button>
            </p>

        </div>
    </div>
</div>

<div ui-view></div>
