```1<!-- Navbar Begin -->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-hide="isActive('/login')" ng-controller="NavigationController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">TeamWorx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{user.name}}'s Profile
                    </a>
                </li>

                <li class="dropdown" id="settingsMenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="portal.delete_class" ng-show="user.user_type=='INSTRUCTOR'">Delete a Course</a></li>
                        <li><a href="">Change Password</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->
<div style="padding: 0.0em">

    <!--Professor Profile-->
    <div class="professorProfileContent">
        <p>
            <img src="img/no_profile.png" class="imgProfessor"/>&nbsp;&nbsp;
        <span e-form="nameBtnForm" style="color:darkslateblue; padding-right: 0.3em"
              onbeforesave="updateProfile('name', $data, user.user_type, user.email)" editable-text="user.name">
            {{ user.name || "empty" }}
        </span>
            <a ng-click="nameBtnForm.$show()" ng-hide="nameBtnForm.$visible" style="cursor: pointer">
                <!--Edit-->
                <img src="img/edit.png"/>
            </a>
        </p>


        <p>
            Bio:
        <span e-form="bioBtnForm" style="color:darkslateblue; padding-right: 0.3em"
              onbeforesave="updateProfile('bio', $data, user.user_type, user.email)" editable-text="user.bio">
            {{ user.bio || "You currently do not have a bio." }}
        </span>
            <a ng-click="bioBtnForm.$show()" ng-hide="bioBtnForm.$visible" style="cursor: pointer">
                <img src="img/edit.png"/>
            </a>
        </p>

        <p>
            Linkedin:
        <span e-form="linkedinBtnForm" style="color:darkslateblue; padding-right: 0.3em"
              onbeforesave="updateProfile('linkedin', $data, user.user_type, user.email)" editable-text="user.linkedin">
            <a href="{{user.linkedin}}">{{ user.linkedin || "" }}</a>
        </span>
            <a ng-click="linkedinBtnForm.$show()" style="cursor: pointer"
               ng-hide="linkedinBtnForm.$visible">
                <img src="img/edit.png"/>
            </a>
        </p>

        <p>
            Github:
        <span e-form="githubBtnForm" style="color:darkslateblue; padding-right: 0.3em"
              onbeforesave="updateProfile('github', $data, user.user_type, user.email)" editable-text="user.github">
            <a href="{{user.github}}">{{ user.github || "" }}</a>
        </span>
            <a ng-click="githubBtnForm.$show()" ng-hide="githubBtnForm.$visible" style="cursor:pointer;">
                <img src="img/edit.png"/>
            </a>
        </p>

        <p>
            Skills:
        <span e-form="skillsBtnForm" style="color:darkslateblue; padding-right: 0.3em"
              onbeforesave="updateProfile('skills_str', $data, user.user_type, user.email)"
              editable-text="user.skills_str">
            <a href="{{user.skills_str}}">{{ user.skills_str || "" }}</a>
        </span>
            <a ng-click="skillsBtnForm.$show()" ng-hide="skillsBtnForm.$visible" style="cursor:pointer;">
                <img src="img/edit.png"/>
            </a>
        </p>

        <p>
            Contact: &nbsp;&nbsp;<a href="mailto:{{user.email}}">{{user.email}}</a>
        </p>
    </div>

    <!--<p class="editProfileButton">-->
    <!--<button type="button" class="btn btn-primary btn-lg" ui-sref="portal.edit_profile">-->
    <!--Edit Profile-->
    <!--</button>-->
    <!--</p>-->


    <div class="courseListContent">
        <h1>My Courses:</h1>
        <li ng-repeat="course in course_list" style="list-style-type: none">
            <h3><a style="cursor:pointer" ng-click="selectCourse(course)">{{ course.course_dept_and_id}}: {{
                course.course_name}}</a></h3>
            <h4>Instructor: {{ course.prof }}</h4>
        </li>
    </div>

    <!-- Button trigger modal -->
    <p class="addCourseButton">
        <button type="button" class="btn btn-primary btn-lg" ui-sref="portal.create_class">
            <!--<a ui-sref="portal.create_class">Add New Course</a>-->
            Add New Course
        </button>
    </p>
</div>


<div ui-view></div>
