<!-- Navbar Begin -->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-hide="isActive('/login')" ng-controller="NavigationController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">TeamWorx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{the_user}}'s Profile
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{course.course_name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <button type="button" class="btn btn-primary btn-lg" ng-show="user.user_type=='INSTRUCTOR'"
                                ui-sref="question.add_question"> Add Question
                        </button>
                    </ul>

                </li>

                <li class="dropdown" id="settingsMenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Change Password</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                <li class=""><a href="#main/{{course.pk}}">Back</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->
<h2>Team Formation Questions</h2>

<div class="myEditable" ng-repeat="question in questions" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
    <h3 style="cursor:pointer" data-drag="true"
        jqyoui-draggable="{animate: true, placeholder: 'keep', onStart:'startCallback(question)'}"
        data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-click="startEditing(question)">

        {{question.text}}

        <span ng-show="hoverEdit" class="animate-show glyphicon glyphicon-pencil"></span>
    </h3>
</div>

<hr>
<div>
    <button type="button" class="btn btn-link" ng-click="startAdding()" ng-show="showCreateQuestion()">
        <h3><span class="glyphicon glyphicon-plus"></span>Create Question</h3>
    </button>

    <div ng-show="shouldShowAdding()">
        <h4>Creating a Question</h4>
        <br>

        <form class="edit-form" role="form" novalidate>
            <div class="form-group" style="width: 50%">
                <label>Question Text</label><br>
                <input class="form-control" type="text" size="50" id="addText" ng-model="addFormText"
                       ng-minlength="0"
                       ng-maxlength="24">

                <br>

                <div class="row">
                    <div class="col-xs-6 ">
                        <label>Left Category: </label><br>
                        <input class="form-control" type="text" size="50" ng-model="addFormLo">
                    </div>

                    <div class="col-xs-6 ">
                        <label>Upper Category: </label><br>
                        <input class="form-control" type="text" size="50" ng-model="addFormHi">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-6 ">
                    <button class="btn btn-primary btn-lg" ng-click="submitAddForm()">Add</button>
                        </div><div class="col-xs-6 ">
                    <button class="btn btn-warning btn-lg pull-right" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div ng-show="shouldShowEditing()">
        <h4>Editing Question</h4>

        <div class="form-group">
            <input placeholder="Question text"
                   type="text" size="50" class="form-control" id="editText" ng-model="editFormText" ng-minlength="0"
                   ng-maxlength="24">
        </div>

        <button class="btn btn-primary btn-lg" ng-click="submitEditForm()">Edit</button>
        &nbsp;
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
        &nbsp;
        <button class="btn btn-danger btn-lg" data-drop="true"
                jqyoui-droppable="{beforeDrop: 'beforeDrop()'}">Delete
        </button>
    </div>

</div>
