<!-- Navbar Begin -->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-hide="isActive('/login')" ng-controller="NavigationController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">TeamWorx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{the_user}}'s Profile
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{course.course_name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <button type="button" class="btn btn-primary btn-lg" ng-show="user.user_type=='INSTRUCTOR'" ui-sref="question.add_question"> Add Question </button>
                    </ul>

                </li>

                <li class="dropdown" id="settingsMenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Change Password</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                <li class=""><a href="#main/{{course.pk}}">Back</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->
<h2>Survey Questions </h2>

<div ng-repeat="question in questions">
    <h3 style="cursor:pointer" data-drag="true"
        jqyoui-draggable="{animate: true, placeholder: 'keep', onStart:'startCallback(question)'}"
        data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-click="startEditing(question)"><span class="glyphicon glyphicon-pencil"> </span>
        <a class="text-muted"> {{question.text}}</a> </h3>
</div>

<div>
    <button type="button" class="btn btn-link" ng-click="startAdding()" ng-show="showCreateQuestion()">
        <h3><span class="glyphicon glyphicon-plus"></span>Create Question</h3>
    </button>

    <div ng-show="shouldShowAdding()">
        <input type="text" size= "50" class="text-success" id="addText" ng-model="addFormText" ng-minlength="0" ng-maxlength="24"></br>
        <button class="btn btn-primary btn-lg" ng-click="submitAddForm()">Add</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>

    </div>

    <div ng-show="shouldShowEditing()">
        <input type="text"  size= "50" class="text-success" id="editText" ng-model="editFormText" ng-minlength="0" ng-maxlength="24"></br>
        <button class="btn btn-primary btn-lg" ng-click="submitEditForm()">Edit</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger btn-lg" data-drop="true"
                jqyoui-droppable="{beforeDrop: 'beforeDrop()'}">Delete</button>
    </div>

</div>
