
<toaster-container toaster-options="{'time-out': 1300, 'position-class': 'toast-bottom-center'}"></toaster-container>

<div class="container-fluid" id="bgPageGroupProfile"></div>
<div class="container-fluid" id="pageGroupProfileFull">
    <div class="container-fluid" id="pageGroupProfileHeader">
        <div class="container-fluid" id="pageGroupProfileHeaderSidebar">
            <img src="img/no_group.jpg" id="GroupProfileSidebarImage">
        </div>
        <div class="container-fluid" id="pageGroupProfileHeaderMain">
            <h1>Student's Name</h1>

            <!--<p>Class: {{course.course_dept_and_id}}</p>-->

            <!--<p>Assignment: {{assignment.assignment_title}}</p>-->
        </div>
    </div>
    <hr/>
</div>