<toaster-container toaster-options="{'time-out': 1300, 'position-class': 'toast-bottom-center'}"></toaster-container>
<div class="container-fluid" id="bgPageGroupProfile"></div>
<div class="container-fluid" id="pageGroupProfileFull">
    <div class="container-fluid" id="pageGroupProfileHeader">
        <div class="container-fluid" id="pageGroupProfileHeaderSidebar">
            <img src="img/no_group.jpg" id="GroupProfileSidebarImage">
        </div>
        <div class="container-fluid" id="pageGroupProfileHeaderMain">
            <h1>{{current_member.name}}</h1>
            <h3>Biography : {{current_member.bio}}</h3>
            <h3>Linkedin: {{current_member.linkedin}}</h3>
            <h3>Github: {{current_member.github}} </h3>
        </div>
    </div>
    <hr/>
</div>