<div class="container-fluid" id="myTeamOverview">

    <div class="container-fluid" style="width:45%; float:left;">
        <img src="img/no_group.jpg" style="width:110%; height: auto; margin-left: -20px">
    </div>
    <div class="container-fluid" style="width:50%; float:left; text-align:left;">
        <h1>{{myTeam.name}}</h1>

        <h4>Class: {{course.course_dept_and_id}}</h4>

        <h4>Assignment: {{assignment.assignment_number}}</h4>
    </div>
    <div class="container-fluid" style="width:100%; float:left; text-align:left; margin-left: -20px;">
        <h4 style="font-weight: bold">
            Description:
        </h4>
        <p>
            {{myTeam.description}}
        </p>
        <br>
        <h4 style="font-weight: bold">
            Seeking Skills:
        </h4>
        <p>
            HTML, Java
        </p>
        <br>
        <h4 style="font-weight: bold">
            Members:
        </h4>
        <div class="MemberListContent">
            <ul style="list-style-type: none; margin: 0px; padding: 0px;"ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                <div class="studentProfile">
                    <a class="container-fluid" ui-sref ="main.studentProfile"
                       ng-repeat="member in myTeam.members" ng-click ="selectMember(member)">
                        <img src="img/no_profile.png" class="imgStudent"/>
                        {{member.name}} </br> </a>
                </div>
            </ul>
        </div>
<!--
        <div  style="position:relative;">
            <carousel interval="myInterval">
                <slide ng-repeat="member in team.members">
                    <img src="img/no_group.jpg" class="carouselImgStudent"/>
                    <div class="carousel-caption">
                        <p>{{member.name}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
-->
    </div>
</div>
</tab>