<div class="modal-header">
    <div class="modal-header">
        <button class="btn-success" style="width: 100%;"><h3>Uploading Class Roster</h3>
        </button>
    </div>
</div>
<form ng-submit="submit()">
    <div class="modal-body">
        <label for="file-roster">Choose a .csv file</label>
        <input file-model="myFile" type="file" id="file-roster"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <input type="submit" class="btn primary-btn" value="Submit"/>
    </div>
</form>
