/*!
 *
 */

body {
    /*
    background: #6e7190;
    color:#23274F;
    margin-top: 51px; */
    font-family: 'Open Sans', sans-serif;
    color: #cccccc;
    background: url(img/bg/bg_08.jpg) no-repeat 0 0 fixed;
    background-size: cover;
    opacity: 0.85;
}

div .main {
    margin-top: 51px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

div::after {
    content: "";
    position: absolute;
    z-index: -1;
}

a:link {
    font-weight: bold;
}

a:visited {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}

a:active {
    font-weight: bold;
}

.checkedClass {
    font-weight: bold;
    color: blue;
}

.genericPanel {
    min-height: 220px;
    opacity: 0.7;
    background-color: #23527c;
    height: auto;
    min-width: 220px;
    width: 20%;
    border: solid 3px black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
}

#studentPanel {
    color: #ffffff;
    min-height: 92%;
    height: auto;
    width: 18%;
    border: solid 3px black;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    top: 51px;
    left: 0px;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.7;
    position: absolute;
}

#studentSearchBar {
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px 0px 5px 0px;
    max-width: 100%;
}

#searchBarAddon {
    margin: 0px;
    padding: 0px 5px 0px 5px;
}

#searchBarField {
    width: 100%;
    color: black;
}

.studentProfileContent {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 76%;
    border: 3px solid black;
    border-radius: 3px;
}

.studentProfile {
    /*background-color: #dddddd;*/
    max-width: inherit;
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.imgStudent {
    height: auto;
    max-height: 48px;
    width: auto;
    max-width: 48px;
    border: 1px solid black;
}

.studentUploadRoster {
    max-width: inherit;
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.modal {
    display: block;
}

#courseInfoPanel {
    /**
     * TODO Peter
     */
}

#assignmentsPanel {
    /**
     * TODO Peter
     */
}

#groupPanel {
    min-height: 92%;
    height: auto;
    max-height: inherit;
    width: 77%;
    border: 3px solid black;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 51px;
    background-color: #000000;
    opacity: 0.7;
    color: #ffffff;
}

.groupPanelHeader {
    min-height: 2%;
    height: auto;
    max-height: 10%;
}

.groupPanelContent {
    min-height: 10%;
    height: auto;
    max-height: 80%;
    width: auto;
    border: 3px solid black;
    border-radius: 3px;
    overflow: auto;
}

.groupProfile {
    /*background-color: #cccccc;*/
    min-height: 170px;
    height: auto;
    max-height: 240px;
    width: 32%;
    border: 3px solid black;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.groupProfileHeader {
    min-height: 48px;
    height: auto;
    max-height: 80px;
    width: 96%;
    margin: 5px 5px 5px 5px;
    border: 3px solid black;
    border-radius: 3px;
    display: flex;
}

.groupProfileContent {
    min-height: 70px;
    height: auto;
    max-height: 135px;
    width: 96%;
    margin: 5px 5px 5px 5px;
    border: 3px solid black;
    border-radius: 3px;
    word-wrap: normal;
    overflow: auto;
    text-overflow: ellipsis;
}

.imgGroup {
    border: 1px solid black;
    min-height: 48px;
    height: auto;
    max-height: 80px;
    min-width: 48px;
    width: auto;
    max-width: 80px;
    margin-right: 2px;
}

#bgPageGroupProfile {
    min-height: 92%;
    height: auto;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    background-color: #000000;
    opacity: 0.7;
    top: 51px;
    left: 0;
    right: 0;
    position: absolute;
}

#pageGroupProfileFull {
    min-height: 92%;
    height: auto;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    top: 51px;
    left: 0;
    right: 0;
    position: absolute;
}

#pageGroupProfileHeader {
    min-height: 250px;
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 99%;
    margin: 5px auto;
    left: 0;
    right: 0;
    position: relative;
}

#pageGroupProfileHeaderSidebar {
    min-height: 250px;
    height: auto;
    max-height: 300px;
    width: 300px;
    margin: 10px 0 5px;
    padding: 0;
    position: relative;
    float: left;
}

#GroupProfileSidebarImage {
    height: 240px;
    width: 240px;
}

#pageGroupProfileHeaderMain {
    min-height: 210px;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 86%;
    padding: 5px;
    float: left;
    position: relative;
    text-align: left;
}

#pageGroupProfileBody {
    height: auto;
    max-height: 750px;
    width: auto;
    max-width: 99%;
    margin: 0 auto 5px;
    left: 0;
    right: 0;
    position: relative;
}

#pageGroupProfileBodySidebar {
    min-height: 500px;
    height: auto;
    max-height: 750px;
    width: 280px;
    left: 0;
    margin: 15px auto 0;
    float: left;
    position: absolute;
}

#pageGroupProfileBodyMain {
    height: auto;
    max-height: 750px;
    min-width: 64%;
    width: auto;
    max-width: 82%;
    left: 300px;
    margin: 0 5px 0;
    padding: 15px 10px 10px 10px;
    background: #000000;
    float: left;
    position: relative;
}

